<a href="https://colab.research.google.com/github/LeeVek/100-Days-of-Python-Projects/blob/main/D1_PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

QUIZ

In [ ]:
print(len("95637+12"))

8

The code print(len("95637+12")) prints the length of the string "95637+12". In Python, len() is a built-in function that returns the number of elements in a sequence, such as a string.

In [ ]:
score = 67
if score < 80 and score > 70:
    print("A")
elif score < 90 or score > 80:
    print("B")
elif score > 60:
    print("C")
else:
    print("D")

B

Here's how the code works:

The variable score is initialized with the value 67.
The first condition checks whether score is less than 80 AND greater than 70. Since score is not greater than 70, this condition evaluates to False.
The second condition checks whether score is less than 90 OR greater than 80. Since score is less than 90, this condition evaluates to True.
The first elif statement is satisfied, and the string "B" is printed to the console. The elif statement below it is skipped, as it only executes if the previous conditions were not met.
The program exits.
Therefore, the output will be "B".

In [ ]:
def a_function(a_parameter):    
    a_variable = 15    
    return a_parameter 
a_function(10)
print(a_variable)

NameError: ignored

This code will result in an error because a_variable is defined within the scope of the a_function function and is not accessible outside of it.

When the function is called with the argument 10, the value of a_parameter is set to 10 and the variable a_variable is set to 15. However, when the print() statement tries to access a_variable outside of the function, it will raise a NameError because a_variable is not defined in the current scope.

In [ ]:
def a_function(a_parameter):    
    a_variable = 15    
    return a_parameter, a_variable 

result, a_variable = a_function(10)
print(a_variable)

15

This code defines a function called a_function that takes a single parameter a_parameter. Inside the function, a new variable a_variable is defined and assigned the value 15. Finally, the function returns a tuple containing both a_parameter and a_variable.

When the function is called with the argument 10, it returns a tuple (10, 15). This tuple is then unpacked into two variables result and a_variable using tuple unpacking syntax. The value 10 is assigned to result, and the value 15 is assigned to a_variable.

Finally, the value of a_variable is printed to the console using the print() function. Since a_variable was assigned the value 15 within the function, the output will be 15.

So when you run this code, it defines a function that creates a tuple containing two values - a_parameter and a_variable - and then unpacks the tuple into two separate variables. It then prints the value of a_variable to the console.

In [ ]:
def outer_function(a, b):
    def inner_function(c, d):
        return c + d
    return inner_function(a, b)
 
result = outer_function(5, 10)
print(result)

15

The outer_function takes two arguments, a and b.

The inner_function is defined inside the outer_function.

The inner_function takes two arguments, c and d, and returns their sum.

The outer_function returns the result of calling inner_function with a and b as arguments.

The outer_function is called with arguments 5 and 10.

The inner_function is called with arguments 5 and 10.

The result of calling inner_function with arguments 5 and 10 (i.e., 15) is returned by outer_function.

The value of result is set to 15.

The value of result is printed to the console.

Given a Car Class has the following attributes and methods, which line of code in the answers will produce an error?

Attributes:

num_of_seats

speed

Methods:

drive()

break(). 


 car.drive(),
 car.num_of_seats=2,
 car.break=0,
 print(car.speed)

break is a reserved keyword in Python, so the line car.break = 0 will produce a syntax error. You cannot use reserved keywords as attribute names.

The correct method name is brake(), not break(). Therefore, the line car.break() will produce an AttributeError because car does not have a method called break().

In [ ]:
#Here's the corrected code with the error fixed:
car = Car()
car.drive()
car.num_of_seats = 2
car.brake()
print(car.speed)

In [ ]:
#Car is a class that represents a car.
class Car:
    # Class attribute
    num_wheels = 4

    # Constructor
    def __init__(self, color, make, model):
        # Instance attributes
        self.color = color
        self.make = make
        self.model = model
        self.speed = 0

    # Method
    def accelerate(self, amount):
        self.speed += amount

    # Property
    @property
    def description(self):
        return f"{self.color} {self.make} {self.model}"

# Create an object of the Car class
my_car = Car("red", "Ford", "Mustang")

# Access attributes using dot notation
print(my_car.color)    # Output: "red"
print(my_car.num_wheels)  # Output: 4

# Call a method on the object
my_car.accelerate(50)
print(my_car.speed)    # Output: 50

# Access a property
print(my_car.description)  # Output: "red Ford Mustang"

In this example, Car is a **class** that represents a car. 

It has **attributes** such as color, make, model, and num_wheels, as well as a **method** accelerate() and a property description.

 my_car is an **object** created from the Car class with the **attributes** "red", "Ford", and "Mustang".
 
  We can access the attributes using dot notation,
  
   call the accelerate() method to modify the object's speed attribute,
   
   and access the description **property** to get a string describing the car.

In object-oriented programming, these are the basic concepts:


**Class**: A class is a blueprint or template for creating objects. It defines a set of attributes and methods that the objects created from it will have. A class is like a blueprint for a house, which describes the characteristics of the house but does not actually build the house.


**Attribute**: An attribute is a piece of data that belongs to an object. It can be thought of as a variable that is stored within the object. Attributes can be accessed and modified using dot notation. For example, a car object may have attributes such as color, make, and model.


**Object**: An object is an instance of a class. It is created from the blueprint defined by the class and has its own set of attributes and methods. An object can be thought of as a specific instance of a house built from the blueprint.


**Property**: A property is a special kind of attribute that has getter and/or setter methods associated with it. These methods can be used to control access to the attribute and perform additional logic when the attribute is read or modified. Properties can be used to make attributes read-only, write-only, or to validate input before setting the attribute value.


**Method**: A method is a function that is defined inside a class and can be called on an object of that class. Methods can access and modify the attributes of the object they are called on. For example, a car object may have methods such as start_engine() and stop_engine().

In [ ]:
#What is the output of this code?



def foo(a, b=4, c=6):
    print(a, b, c)
 
foo(20, c=12)

20 4 12

When we call print(a, b, c) inside the foo() function, the three **arguments are separated by a space character.** Therefore, the output of the function call foo(20, c=12) is 20 4 12, where the values 20, 4, and 12 are separated by spaces.

In [ ]:
def all_aboard(a, *args, **kw): 
    print(a, args, kw)
 
all_aboard(4, 7, 3, 0, x=10, y=64)


#What is the output of the code above?

4 (7, 3, 0) {'x': 10, 'y': 64}

The function all_aboard() takes **a mandatory parameter **a, followed by **any number of positional arguments** (*args) and** any number of keyword arguments** (**kw).



In the function call all_aboard(4, 7, 3, 0, x=10, y=64), we pass the arguments 4, 7, 3, and 0 for a and *args, respectively, and x=10 and y=64 for **kw.


Therefore, when the function is executed, the values of the parameters are printed using the print() function, resulting in the output 4 (7, 3, 0) {'x': 10, 'y': 64}.

Here, the value of the mandatory parameter a is 4, the value of *args  is a ***tuple*** containing the values (7, 3, 0), and the value of **kw is a **dictionary** containing the key-value pairs {'x': 10, 'y': 64}.

In [ ]:
print('Hello World!\n Hello World')

Hello World!
 Hello World

In [ ]:
print('hello ' + input('what name?'))

what name?lov
hello lov

In [ ]:
print("Day 1 - String Manipulation")
print('String Concatenation is done with the "+" sign.')
print('e.g. print("Hello " + "world")')
print("New lines can be created with a backslash and n.")

Day 1 - String Manipulation
String Concatenation is done with the "+" sign.
e.g. print("Hello " + "world")
New lines can be created with a backslash and n.

In [ ]:
# ðŸš¨ Don't change the code below ðŸ‘‡
two_digit_number = input("Type a two digit number: ")
# ðŸš¨ Don't change the code above ðŸ‘†

####################################
#Write your code below this line ðŸ‘‡
a1=split(two_digit_number)

In [ ]:
print(str(70)+str(800))

70800

In [ ]:
a=70
print(type(a))

<class 'int'>

In [ ]:
print(6/3)#gives float

2.0

**PEDMAS RULE**

()

**

*

/

+

-

In [ ]:
print(round(8/3))

3

In [ ]:
print(round(8/3,2))

2.67

In [ ]:
print(8//3)#floor division

2

In [ ]:
print(type(8//3))

<class 'int'>

In [ ]:
print(type(8/3))

<class 'float'>

In [ ]:
12*25

300